@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.core-title {
  text-align: center;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:#2C6346;
  margin-top:40px;
}





.info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.infographic-wrapper{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 1280px;
  gap: 5px;

}


.infographic-items{
  --color-main: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.infographic-items h1,
.infographic-items h2{
  text-transform: uppercase;
}
.infographic-items h1{
  color:var(--color-accent);
  background: var(--color-main);
  display: block;
  width:100%;
  text-align: center;
  font-weight: 900;
  margin-bottom:1px;
}
.infographic-items h2{
  background: var(--color-accent);
  display: block;
  width:100%;
  text-align: center;
  font-size:18px;
  padding-top: 30px;
  margin-bottom:2px;
}
.infographic-items p{
  padding-left: 20px;
  padding-right: 20px;
  background: var(--color-accent);
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top:5px;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}

.clip-wrapper{
  width: 100%; 
  height: 100px;
  position: relative;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, var(--color-main) 0%, var(--color-main) 50%, var(--color-accent) 50%, var(--color-accent) 100%);
 
}
.clip-1,
.clip-2,
.content{
  position: absolute; 
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clip-1{
  height: 100%;
  aspect-ratio: 1;
  background: var(--color-main);
  z-index: 1;
}
.clip-2{
  --border: 30px;
  aspect-ratio: 1;
  height: calc(100% - var(--border));
  background: var(--color-accent);
  z-index: 2;

  
}
.content{
  width: 100%; 
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content i{
  font-size: 26px;
}

.infographic-items:nth-child(1),
.infographic-items:nth-child(3),
.infographic-items:nth-child(5),
.infographic-items:nth-child(7)
{
  --color-accent: #2C6346;

}

.infographic-items:nth-child(2),
.infographic-items:nth-child(4),
.infographic-items:nth-child(6)
{
  --color-accent: #FCB900;
}

#p-S,
#p-P,
#p-E,
#p-C,
#p-I,
#p-A,
#p-L{
  height:139px;
}