/**
body {
	height: 0;
	padding: 0;
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #0a0a0a;
	background: #f6f6f6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.container-masthead {
	background-color: #fcb900;
	top: 0;
	margin: 0;
	width: 100%;
	z-index: 6;
	height: 226px;
}

.container-masthead .logo a {
	display: flex; 
	align-items: center;
	text-decoration: none;
	color: inherit;

}

.row{
	display: flex;
	margin-left: 8%;
}

.large-9  columns{
	width: 180px;
}
.container-masthead .logo img {
	margin-left: 15px;
	width: 150px;
}

#textlogo-inner-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
	margin-left: 15px;
	font-family: "Cinzel";
	font-weight: bold;
	color:#2c6346;
	text-transform: uppercase;

}

#agency-heading, #agency-name, #agency-tagline {
	font-size: 16px;
	margin-bottom: 2px;
}
#agency-heading{
	font-size: 13px;
}

#agency-name{
	font-size: 22px;
}

#agency-tagline{
	font-size: 13px;
}

#agency-line {
	height: 1.5px;
	background-color: #2c6346;
	width: 640px;
	margin-bottom: 5px;
}

.navbar{
	background-color: #2c6346;
	padding: 7px 0;
	text-decoration: none;
	margin-bottom: 20px;
}

.navbar ul{
	margin-left:8%;
	display: flex;
	gap:47px;
	
}

.navbar ul a {
	all: unset;
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	
}
.navbar ul a:hover {
	color: #dbffe4;
}

.navbar li{
	list-style-type: none;
}

.space{
	margin-top: 20px;
}

.home-banner{
	margin: auto;
}

.home-banner img{
	width: 1519px;
}

.footer {
	background-color: #f2f2f2;
	padding: 20px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.footer img{
	width:100px;
	margin-right: 6%;
}

#wuri{
	width:200px;
}

#qs-star{
	width:150px;
}**/

/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    /*margin-top: 1%;*/
}
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: relative; 
    z-index: 1;*/
		margin-bottom: 16px;
}

.second-section{
    width: 100%;
}
.enroll-content {
    display: flex;
    align-items: center;
   
}

.enroll-info, .enroll-img {
    flex: 1;
    /*width: 500px;*/
}

.enroll-info .p1 img{
    width: 170px;
    height: 170px;
    margin-left:9%;
   
}

.enroll-img img{
    /*padding-left: 40px;*/
    /*margin-top: 10px;
    margin-left: 40px;*/
    width: 80%;
    /*height: 780px;*/
    /*z-index: 2;*/
    -webkit-filter: drop-shadow(20px 10px 16px #666666);
    filter: drop-shadow(20px 10px 16px #666666);
    mix-blend-mode: multiply;
    animation: floating 3s ease-in-out infinite;
    transform-origin: center center;
		display: block;
		margin: 0 auto;
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0); /* Start and end position (no vertical movement) */
    }
    50% {
        transform: translateY(-20px) rotate(1.4deg); /* Middle position (move image upwards) */
    }
}

h1 {
    margin: 0;
}

/*main {
    padding: 20px;
    margin-left: 50px;
}*/


h2 {
    color: #333;
    font-size: 40px;
}

p {
    color: #333;
    font-size: 25px;
    margin-left: 12px;
}
.p1 p{
    color: #333;
    font-size: 17px;
    width:200px;
    margin-top: 5px;
    text-align: center;
    margin-left:3%;
}

span{
    font-size: 12px;
    margin-bottom: 50px;
}
.mainc button#scholarButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2e9c34;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0;
		width: auto;
}

button:hover {
    background-color: #39be3f;
}

.inquiries-container{
    display: flex;
    background-color: #2e9c34;
    border-radius: 10px;
    padding: 16px 32px;
}

.inquiries-container p {
    color: #fff;
    width: auto;
    font-size: 16.5px;
}

.white-link {
    color: white;
}

.divider {
    width: 2px;
    height: 115px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
}

.socmed{
    display: flex;
    margin: 0;
    background-color: #949596;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.i-container{margin-left: 10px;
}


.socmed2{
    display: flex;
    margin: 0;
    background-color: #1f80c0;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.fb-container, .mess-container {
		margin: 4px 6px 0 12px;
}
/*
.mess-container {
    margin-left: 6px;
}*/

.socmed-divider {
    width: 2px;
    height: 20px;
    margin: 2px 2px;
    background-color: white;
}

.space{
    margin: auto;
}