body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-masthead {
    background-color: #fcb900;
}

.container-masthead .logo a {
    display: flex; 
    align-items: center; /* Align items vertically */
    text-decoration: none; /* Remove default underline from the link */
    color: inherit; /* Inherit the color from the parent */
		margin-top: 0 !important;
}

.container-masthead .row {
    display: flex;
		width: 1200px;
    margin: 0 auto;
		padding: 8px 0;
}

.container-masthead .row h1.logo {
	margin: 0;
}

.large-9  columns {
    width: 180px;
}
.container-masthead .logo img {
    margin-top: 22px; /* space logo vertically */
    width: 150px;
}


#textlogo-inner-wrapper {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: column; /* Arrange items vertically */
    margin: 28px 0 28px 15px;
    font-family: "Cinzel";
    font-weight: bold;
    color:#2c6346;
    text-transform: uppercase;

}


#agency-heading, #agency-name, #agency-tagline {
    font-size: 16px; /* Set the font size to your desired value */
    margin-bottom: 2px; /* Add some space between the text elements */
}
#agency-heading{
    font-size: 13px;
}

#agency-name{
    font-size: 22px;
}

#agency-tagline{
    font-size: 13px;
}

#agency-line {
    height: 1.5px; /* Set the height of the line */
    background-color: #2c6346; /* Set the color of the line */
    width: 640px; /* Set the width of the line */
    margin-bottom: 5px; /* Add some space between the line and the text */
}

.navbar{
    background-color: #2c6346;
    padding: 16px 0 16px 0;
    text-decoration: none;
    margin-bottom: 20px;
}

.navbar ul{
    display: flex;
    width: 1200px;
		margin: 0 auto;
}

.navbar ul a {
    all: unset;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
.navbar ul a:hover {
    color: #dbffe4;
}

.navbar li{
    list-style-type: none;
		flex: 1;
}

.space{
    margin-top: 20px;
}

.home-banner{
    margin: auto;
}

.home-banner img{
    width: 100%;
}

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer img{
    width:100px;
    margin-right: 6%;
}

#wuri{
    width:200px;
}

#qs-star{
    width:150px;
}

#exit{
  text-align: right;
}

.title_org { justify-content: center !important; margin: 0 !important; }
.title_org > * { display: inline !important; margin: 0 !important; }
.title_org > a > i { margin: 0 !important; }
.title_org > h1 { margin-left: 16px !important; margin-right: 16px !important; }